{% extends 'base_index.html' %}
{% load static %}

{% block titulo %}
    {{ nome_empresa.nome }} - Ficha de Treino
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>{{ nome_empresa.nome }}</h3>
        <p>Escolha seu treino de acordo com seus objetivos</p>

        <!-- Formulário para seleção de treino -->
        <form action="{% url 'ficha_treino' %}" method="post">
            {% csrf_token %}
            <select class="form-select" name="treino">
                <option value="x">Escolha seu treino</option>
                <option value="masculino_perder_peso">Masculino Perder Peso</option>
                <option value="masculino_ganho_massa">Masculino Ganho de Massa</option>
                <option value="feminino_perder_peso">Feminino Perder Peso</option>
                <option value="feminino_ganho_massa">Feminino Ganho de Massa</option>
                <option value="masculino_atleta">Masculino Atleta de Alto Rendimento</option>
                <option value="feminino_atleta">Feminino Atleta de Alto Rendimento</option>
                <option value="sem_valor">Meu treino EXCLUSIVO</option>
            </select>

            <button id="ok_button" class="btn btn-primary mt-3" name="selecione_treino_btn">OK</button>
        </form>

        <hr>

                        <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>


<!-- Exibindo o treino selecionado -->
{% if treino %}
    <h4>Treino Selecionado:</h4>
    <pre class="treino-pre">{{ treino }}</pre>
{% elif erro %}
    <div class="alert alert-danger">
        <p>{{ erro }}</p>
    </div>
{% endif %}

<!-- Adicionando o CSS diretamente -->
<style>
    .treino-pre {
        white-space: pre-wrap; /* Quebra de linha automática */
        word-wrap: break-word; /* Quebra de palavras longas */
        max-width: 100%; /* Impede que o conteúdo ultrapasse a largura da tela */
        overflow-wrap: break-word; /* Garantir que palavras longas quebrem corretamente */
        word-break: break-all; /* Quebra as palavras mais longas que não podem ser divididas */
        box-sizing: border-box; /* Considera padding e bordas no tamanho do elemento */
    }

    /* Ajustando para telas pequenas */
    @media screen and (max-width: 768px) {
        .treino-pre {
            font-size: 14px; /* Ajustando o tamanho da fonte para telas pequenas */
            padding: 10px; /* Adiciona um pequeno padding para não grudar na borda */
        }
    }
</style>

    </div>
{% endblock %}
