{% extends 'base_index.html' %}
{% load static %}

{% block titulo %}
    {{ nome_empresa.nome }} - Ficha de Treino
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>{{ nome_empresa.nome }}</h3>
        <p>Escolha seu treino de acordo com seus objetivos</p>

        <!-- Formulário para seleção de treino -->
        <form action="{% url 'ficha_treino' %}" method="post">
            {% csrf_token %}
            <select class="form-select" name="treino">
                <option value="masculino_perder_peso">Masculino Perder Peso</option>
                <option value="masculino_ganho_massa">Masculino Ganho de Massa</option>
                <option value="feminino_perder_peso">Feminino Perder Peso</option>
                <option value="feminino_ganho_massa">Feminino Ganho de Massa</option>
                <option value="masculino_atleta">Masculino Atleta de Alto Rendimento</option>
                <option value="feminino_atleta">Feminino Atleta de Alto Rendimento</option>
                <option value="sem_valor">Meu treino EXCLUSIVO</option>
            </select>

            <button id="ok_button" class="btn btn-primary mt-3" name="selecione_treino_btn">OK</button>
        </form>

        <hr>
<!-- Exibindo o treino selecionado -->
{% if treino %}
    <h4>Treino Selecionado:</h4>
    <pre>{{ treino }}</pre>
{% elif erro %}
    <div class="alert alert-danger">
        <p>{{ erro }}</p>
    </div>
{% endif %}
    </div>
{% endblock %}
