{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Academia
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/academia.css' %}">
{% endblock %}

{% block h1 %}DASHBOARD - ACADEMIA{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-md-4 p-5" style="background-color: #F0FFFF;">

                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>


        <form action="/salvar" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Campo para selecionar a imagem -->
            <label for="foto">Foto:</label>
            <input type="file" name="foto" id="foto" accept="image/*" required>

            <!-- Campo para o título -->
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" placeholder="Digite o título" required>

            <!-- Campo para a mensagem -->
            <label for="mensagem">Mensagem:</label>
            <textarea name="mensagem" id="mensagem" placeholder="Digite a mensagem" required></textarea>

            <!-- Botão para salvar -->
            <button type="submit">Salvar</button>
        </form>

            </div>
            <!-- Coluna 2 -->
            <div class="col-md-8 p-5 bg-light">

murilo

            </div>
        </div>
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
