{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Dashboard
{% endblock %}

{% block head %}{% endblock %}
{% block h1 %}DASHBOARD{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-md-6 p-5" style="background-color: #F0FFFF;">
                <h2>{% if aluno_cpf %}Editar Aluno {% else %}Cadastrar novo Aluno{% endif %}</h2>
                <hr>

                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="caixa-edicao">
                    <form method="post" action="{% url 'dashboard' %}">
                        {% csrf_token %}

                        <!-- Campo Nome -->
                        Nome: <input type="text" name="nome" placeholder="Nome do aluno" value="{{ aluno_cpf.nome }}" required><br>

                        <!-- Campo CPF -->
                        CPF: <input type="text" name="cpf" placeholder="CPF" value="{{ aluno_cpf.cpf }}" required><br>

                        <!-- Campo Cidade -->
                        Cidade: <input type="text" name="cidade" placeholder="Cidade" value="{{ aluno_cpf.cidade }}" required><br>

                        <!-- Campo Bairro -->
                        Bairro: <input type="text" name="bairro" placeholder="Bairro" value="{{ aluno_cpf.bairro }}" required><br>

                        <!-- Campo Rua/Avenida -->
                        Rua/av com número: <input type="text" name="rua_av" placeholder="Rua/Avenida/número" value="{{ aluno_cpf.rua_av }}" required><br>

                        <!-- Campo Celular -->
                        Celular: <input type="text" name="celular" placeholder="DDD+Número" value="{{ aluno_cpf.celular }}" required><br>

                        <!-- Campo Email -->
                        Email: <input type="email" name="email" placeholder="E-Mail" value="{{ aluno_cpf.email }}" required><br>

                        <!-- Campo ID (oculto para edição) -->
                        <input type="hidden" name="id" value="{{ aluno_cpf.id }}">

                        <!-- Botão de submit -->
                        <input type="submit" value="{% if aluno_cpf %}Atualizar{% else %}Cadastrar{% endif %}" name="cadastrar">
                        {% if aluno_cpf %}<button>cancelar</button>{% endif %}
                    </form>
                </div>
            </div>
            <!-- Coluna 2 -->
            <div class="col-md-6 p-5" style="background-color: #F5F5F5;">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand">Procure pelo CPF</a>
                        <form method="post" action="{% url 'dashboard' %}" class="d-flex">
                            {% csrf_token %}
                            <input class="form-control me-2" type="search" name="cpf_pesquisa" placeholder="CPF" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit" name="buscar">Procurar</button>
                        </form>
                    </div>
                </nav>
                <h2>Listagem de alunos</h2><hr>

                {% if aluno %}
                    <h4>Aluno Encontrado</h4>
                    <p><strong>Nome:</strong> {{ aluno.nome }}</p>
                    <p><strong>CPF:</strong> {{ aluno.cpf }}</p>
                    <p><strong>Cidade:</strong> {{ aluno.cidade }}</p>
                    <p><strong>Bairro:</strong> {{ aluno.bairro }}</p>
                    <p><strong>Rua/Avenida:</strong> {{ aluno.rua_av }}</p>
                    <p><strong>Celular:</strong> {{ aluno.celular }}</p>
                    <p><strong>Email:</strong> {{ aluno.email }}</p>
                    <p><strong>ID:</strong> {{ aluno.id }}</p>

                {% elif aluno_cpf %}
                    <h4>Aluno Encontrado</h4>
                    <p><strong>Nome:</strong> {{ aluno_cpf.nome }}</p>
                    <p><strong>CPF:</strong> {{ aluno_cpf.cpf }}</p>
                    <p><strong>Cidade:</strong> {{ aluno_cpf.cidade }}</p>
                    <p><strong>Bairro:</strong> {{ aluno_cpf.bairro }}</p>
                    <p><strong>Rua/Avenida:</strong> {{ aluno_cpf.rua_av }}</p>
                    <p><strong>Celular:</strong> {{ aluno_cpf.celular }}</p>
                    <p><strong>Email:</strong> {{ aluno_cpf.email }}</p>
                    <p><strong>ID:</strong> {{ aluno_cpf.id }}</p>

                {% else %}
                    {% for item in cpf %}
                        <div class="card">
                            <div class="card-body">
                                <p>Nome: {{ item.nome }}, CPF: {{ item.cpf }}, Cidade: {{ item.cidade }},<br>Celular: {{ item.celular }}, E-Mail: {{ item.email }}, ID:{{ item.id }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <br><b><a href="#">VOLTAR AO TOPO</a></b>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
