{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Dashboard
{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-md-6 p-5" style="background-color: #F0FFFF;">
                <h2>Cadastrar novo Aluno</h2>
                <hr>
                <div class="caixa-edicao">

                    Nome: <input type="text" name="nome"><br>
                    Cidade: <input type="text" name="Cidade"><br>
                    Bairro: <input type="text" name="Bairro"><br>
                    Rua/av: <input type="text" name="ruaav"><br>
                    Celular: <input type="text" name="Celular"><br>
                    email: <input type="text" name="email"><br><br>
                    <input type="submit" value="CADASTRAR">

                </div>
            </div>
            <!-- Coluna 2 -->
            <div class="col-md-6 p-5" style="background-color: #F5F5F5;">
                <h2>AXXXxxxxx xx</h2><hr>
               kçlçuio  tr  th th

            </div>
        </div>
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
