{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Ficha de Treino
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/ficha_treino_dash.css' %}">
{% endblock %}

{% block h1 %}DASHBOARD - FICHA DE TREINO{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-md-8 p-5" style="background-color: #F0FFFF;">

                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

              <form action="{% url 'ficha_treino_dash' %}" method="post">
    {% csrf_token %}
    <b><i>Treino personalizado para aluno</i></b>

    <textarea rows="9" cols="83" name="treino_aluno_cadastrado" placeholder="Digite o treino personalizado aqui...">
        {% if treino_aluno_cadastrado %}
            {{ treino_aluno_cadastrado.treino_personalizado_aluno }}
        {% endif %}
    </textarea><br><br>

    <input type="hidden" name="treino_aluno_cadastrado_id" value="{% if treino_aluno_cadastrado %}{{ treino_aluno_cadastrado.id }}{% endif %}">

    <input type="submit" name="treino_aluno_cadastrado_btn" value="Salvar" {% if not treino_aluno_cadastrado %}disabled{% endif %}>

    <br><br>
</form>

                <hr>
                <i><b>Treino Padrão</b></i><br><br>

                <form action="{% url 'ficha_treino_dash' %}" method="post">
                    {% csrf_token %}

                    <!-- Masculino perder peso -->
                    <label for="masculino_perder_peso">Masculino perder peso</label>
                    <textarea id="masculino_perder_peso" name="treino_masculino_perder_peso" rows="6" cols="83">{{ treino.treino_masculino_perder_peso|default_if_none:'' }}</textarea><br><br>

                    <!-- Masculino ganho de massa -->
                    <label for="masculino_ganho_massa">Masculino ganho de massa</label>
                    <textarea id="masculino_ganho_massa" name="treino_masculino_ganho_massa" rows="6" cols="83">{{ treino.treino_masculino_ganho_massa|default_if_none:'' }}</textarea><br><br>

                    <!-- Masculino atleta de alto rendimento -->
                    <label for="masculino_atleta">Masculino atleta de alto rendimento</label>
                    <textarea id="masculino_atleta" name="treino_masculino_atleta" rows="6" cols="83">{{ treino.treino_masculino_atleta|default_if_none:'' }}</textarea><br><br>

                    <!-- Feminino perder peso -->
                    <label for="feminino_perder_peso">Feminino perder peso</label>
                    <textarea id="feminino_perder_peso" name="treino_feminino_perder_peso" rows="6" cols="83">{{ treino.treino_feminino_perder_peso|default_if_none:'' }}</textarea><br><br>

                    <!-- Feminino ganho de massa -->
                    <label for="feminino_ganho_massa">Feminino ganho de massa</label>
                    <textarea id="feminino_ganho_massa" name="treino_feminino_ganho_massa" rows="6" cols="83">{{ treino.treino_feminino_ganho_massa|default_if_none:'' }}</textarea><br><br>

                    <!-- Feminino atleta de alto rendimento -->
                    <label for="feminino_atleta">Feminino atleta de alto rendimento</label>
                    <textarea id="feminino_atleta" name="treino_feminino_atleta" rows="6" cols="83">{{ treino.treino_feminino_atleta|default_if_none:'' }}</textarea><br>


                    <input type="submit" value="Salvar" name="treino_padrao_btn">
                </form>

            </div>
            <!-- Coluna 2 -->
            <div class="col-md-4 p-5 bg-light">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <strong>Treino Padrão para alunos</strong>
                        <form method="post" action="{% url 'ficha_treino_dash' %}" class="d-flex">
                            {% csrf_token %}
                            <input class="form-control me-2" type="search" name="cpf_buscar" placeholder="Pesquise pelo CPF" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit" name="cpf_buscar_btn">Procurar</button>
                        </form>
                    </div>
                </nav>

{% if aluno_c %}
    <p><strong>Aluno encontrado:</strong></p>
    <p>Nome: {{ aluno_c.nome }}</p>
    <p>CPF: {{ aluno_c.cpf }}</p>
    <p>Cidade: {{ aluno_c.cidade }}</p>
    <p>Bairro: {{ aluno_c.bairro }}</p>
    <p>Rua/Av: {{ aluno_c.rua_av }}</p>
    <p>Celular: {{ aluno_c.celular }}</p>
    <p>Email: {{ aluno_c.email }}</p>
    <p>ID: {{ aluno_c.id }}</p>
{% endif %}

            </div>
        </div>
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
