{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Mensalidades
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/ficha_treino_dash.css' %}">
{% endblock %}

{% block h1 %}DASHBOARD - MENSALIDADES{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1: Parte superior -->
            <div class="col-md-12 p-5" style="background-color: #F0FFFF;">
                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- Formulário de pesquisa -->
                <form class="d-flex" role="search" method="post" action="{% url 'mensalidades' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="'CPF' do aluno matriculado para a pesquisa" aria-label="Search" name="cpf_buscar">
                    <button class="btn btn-outline-success" type="submit">Procurar</button>
                </form>

                <!-- Botão "Alunos em atraso" -->
                <div class="d-grid gap-2">
                    <a class="btn btn-danger" href="#" role="button">Alunos em atraso</a>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Coluna 2: Parte inferior -->
            <div class="col-md-12 p-5 bg-light">
                <div class="container-fluid">
                    <!-- Exibindo alunos encontrados -->
                    {% if alunos %}
                        <h4>Aluno Encontrado:</h4>
                        <ul>
                            {% for aluno in alunos %}
                                <li>{{ aluno.nome }} - {{ aluno.cpf }}</li> <!-- Ajuste conforme os campos no seu modelo -->
                            {% endfor %}
                        </ul>
                    {% elif alunos_cpf %}
                        <h4>Aluno(s) Encontrado(s) com o CPF fornecido:</h4>
                        <ul>
                            {% for aluno in alunos_cpf %}
                                <li>{{ aluno.nome }} - {{ aluno.cpf }}</li> <!-- Exibindo informações do aluno -->
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Nenhum aluno encontrado para o CPF fornecido.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
