{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Mensalidades
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/ficha_treino_dash.css' %}">
{% endblock %}

{% block h1 %}DASHBOARD - MENSALIDADES{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1: Parte superior -->
            <div class="col-md-12 p-5" style="background-color: #F0FFFF;">
                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- Formulário de pesquisa -->
                <form class="d-flex" role="search" method="post" action="{% url 'mensalidades' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="'CPF' do aluno matriculado para a pesquisa" aria-label="Search" name="cpf_buscar" required>
                    <button class="btn btn-outline-success" type="submit" name="procurar">Procurar</button>
                </form>

                <!-- Botão "Alunos em atraso" -->
                <div class="d-grid gap-2">
                    <a class="btn btn-danger" href="#" role="button">Alunos em atraso</a>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Coluna 2: Parte inferior -->
            <div class="col-md-12 p-2 bg-light">
                <div class="container-fluid">
                    <!-- Exibindo alunos encontrados -->
                    {% if alunos %}
                        <h3> - Aluno Encontrado:</h3>
                        <ul>
                            {% for aluno in alunos %}
                                <li>
                                    <h4>
                                        <span class="badge text-bg-secondary">{{ aluno.nome }}, CPF: {{ aluno.cpf }}</span></h4>
                                   </li>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                  Ajustar Situação
                                </button>
                            {% endfor %}
                        </ul>
                    {% elif alunos_cpf %}
                        <h4>Aluno(s) Encontrado(s) com o CPF fornecido:</h4>
                    {% else %}
                        <p>Nenhum aluno encontrado para o CPF fornecido.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajustar Situação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for aluno in alunos %}
                        <p>{{ aluno.nome }}, CPF:{{ aluno.cpf }}</p>
                        <input type="hidden" name="cpf_aluno" value="{{ aluno.cpf }}"> <!-- Envia o CPF do aluno -->
                    {% endfor %}
                    <hr>
                    <!-- Bloco de cores baseado no valor de "cor" -->
                    {% if cor == 1 %}
                        <span class="badge rounded-pill text-bg-danger">{{ mensalidade_em_dia }}</span><br><br>
                    {% elif cor == 2 %}
                        <span class="badge rounded-pill text-bg-warning">{{ mensalidade_em_dia }}</span><br><br>
                    {% elif cor == 3 %}
                        <span class="badge rounded-pill text-bg-success">{{ mensalidade_em_dia }}</span><br><br>
                    {% elif cor == 4 %}
                        <span class="badge rounded-pill text-bg-secondary">{{ mensalidade_em_dia }}</span><br><br>
                    {% endif %}

                    <form method="post" action="{% url 'mensalidades' %}">
                        {% csrf_token %}
                    {% for aluno in alunos %}
                        <input type="hidden" name="cpf_aluno" value="{{ aluno.cpf }}">
                    {% endfor %}

                        Valor da mensalidade: <input type="number" name="valor_mensal" required><br><br>
                        Descrição: <input type="text" name="descricao" size="47" required><br><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="cancelar">Cancelar</button>
                    <button type="submit" class="btn btn-primary" name="situacao_btn">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
