{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Nossos Produtos
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/ficha_treino_dash.css' %}">
{% endblock %}

{% block h1 %}DASHBOARD - NOSSOS PRODUTOS{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1: Parte superior -->
            <div class="col-md-12 p-5" style="background-color: #F0FFFF;">

                <!-- Exibindo mensagens de sucesso ou erro -->
                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <!-- Coluna 1: Formulário de cadastro de produto -->
                        <div class="col-md-4 p-5" style="background-color: #F0FFFF;">
                            <form action="{% url 'nossos_produtos' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    <label for="imagem">Imagem:</label>
                                    <input type="file" name="imagem" id="imagem" required>
                                </div><br>
                                <div>
                                    <label for="titulo">Título:</label>
                                    <input type="text" name="titulo" id="titulo" required>
                                </div><br>
                                <div>
                                    <label for="descricao">Descrição:</label>
                                    <textarea name="descricao" id="descricao" required></textarea>
                                </div>
                                <div>
                                    <label for="valor">Valor:</label>
                                    <input type="number" name="valor" id="valor" step="0.01" required>
                                </div>
                                <button type="submit" name="btn-salvar-produto">Salvar Produto</button>
                            </form>
                        </div>

                        <!-- Coluna 2: Produtos cadastrados -->
                        <div class="col-md-8 p-5 bg-light">
                            {% if produtos %}
                                <h3>Produtos Cadastrados:</h3>
                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th scope="col">X</th>
                                            <th scope="col">Imagem</th>
                                            <th scope="col">Título</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Valor</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for produto in produtos %}
                                            <tr>

                                                <td>Excluir</td>
                                                <td>
                                                    <img src="{{ produto.foto.url }}" alt="{{ produto.titulo }}" width="100">
                                                </td>
                                                <td>{{ produto.titulo }}</td>
                                                <td>{{ produto.descricao }}</td>
                                                <td>R$ {{ produto.valor }}</td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Nenhum produto cadastrado.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
