{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Nossos Produtos
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/ficha_treino_dash.css' %}">
{% endblock %}

{% block h1 %}DASHBOARD - NOSSOS PRODUTOS{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1: Parte superior -->
            <div class="col-md-12 p-5" style="background-color: #F0FFFF;">
                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>





                <div class="container-fluid">
    <div class="row">
        <!-- Coluna 1 -->
        <div class="col-md-4 p-5" style="background-color: #F0FFFF;">

            <div class="message">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            <center>{{ message }}</center>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

<form action="{% url 'nossos_produtos' %}" method="post">
    {% csrf_token %}

    <div>
        <label for="imagem">Imagem:</label>
        <input type="file" id="imagem" name="imagem" required>
    </div><br>

    <div>
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
    </div><br>

    <div>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required></textarea>
    </div><br>

    <div>
        <label for="valor">Valor:</label>
        <input type="number" id="valor" name="valor" step="0.01" required>
    </div>

    <div>
        <button type="submit" name="btn-salvar-produto">Salvar Produto</button>
    </div>
</form>


        </div>
        <!-- Coluna 2 -->
        <div class="col-md-8 p-5 bg-light">
scorsato
            <!-- Adicionando o ID "topo" no início do conteúdo da página -->
            <div style="max-height: 600px; overflow-y: auto; padding-right: 10px;">
                <div id="topo"></div>



            </div>

        </div>
    </div>
</div>


{% endblock %}
