{% extends 'base_dashboard.html' %}
{% load static %}

{% block titulo %}
    Personal
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/ficha_treino_dash.css' %}">
{% endblock %}

{% block h1 %}DASHBOARD - PERSONAL{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Coluna 1: Parte superior -->
            <div class="col-md-12 p-5" style="background-color: #F0FFFF;">

                <!-- Exibindo mensagens de sucesso ou erro -->
                <div class="message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}">
                                <center>{{ message }}</center>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <!-- Coluna 1: Formulário de cadastro de produto -->
                        <div class="col-md-4 p-5" style="background-color: #F0FFFF;">
                            <form action="{% url 'personal' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div>
                                    <label for="foto">Foto:</label>
                                    <input type="file" name="foto" id="foto" required>
                                </div><br>
                                <div>
                                    <label for="Nome">Nome:</label>
                                    <input type="text" name="nome" id="Nome" required>
                                </div><br>
                                <div>
                                    <label for="descricao">Descrição:</label>
                                    <textarea name="descricao" id="descricao" required></textarea>
                                </div>
                                <div>
                                    <label for="valor">Valor:</label>
                                    <input type="number" name="valor" id="valor" step="0.01" required>
                                </div>
                                <div>
                                    <label for="zap">Zap:</label>
                                    <input type="number" name="zap" id="zap" required>
                                </div>
                                <div>
                                    <label for="email">Email:</label>
                                    <input type="email" name="email" id="email" required>
                                </div>
                                <button type="submit" name="btn-cadastrar-personal">Cadastrar Personal</button>
                            </form>
                        </div>

                        <!-- Coluna 2: Pessoais cadastrados -->
                        <div class="col-md-8 p-5 bg-light">
                            {% if todos_personais %}
                                <h3>Pessoais Cadastrados:</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Detalhes</th>
                                            <th scope="col">Foto</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Mensal</th>
                                            <th scope="col">Zap</th>
                                            <th scope="col">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for personal in todos_personais %}
                                            <tr>
                                                <td><a href="#">Editar</a></td>
                                                <td><img src="{{ personal.foto.url }}" alt="{{ personal.nome }}" width="100"></td>
                                                <td>{{ personal.nome }}</td>
                                                <td>{{ personal.descricao }}</td>
                                                <td>R$ {{ personal.valor }}</td>
                                                <td>{{ personal.zap }}</td>
                                                <td>{{ personal.email }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Nenhum personal cadastrado.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
